{% extends "base.html" %}

{% block mainbody %}

    <div class="show" style="">
        <h1 class="au_h" style="background-image: none;
                                font-size: 26px;
                                font-weight: normal;
                                position: static;">
            关于我们
        </h1>
        <p class="au_p">
            Copyright © 2015
        </p>
        <p class="au_p">
            ZhaoGuoyan ZhangKai ZhangChenlin ZhongHaoyue
        </p>
        <p class="au_p">
            All rights reserved.
        </p>
    </div>

{% endblock %}
