{% extends "base.html" %}

{% block mainbody %}

    <div class="pc_show">

        <div class="intro" style="">

            <h1 class="intro_h" style="background-image: none;
                                       font-size: 26px;
                                       font-weight: normal;
                                       position: static;">

                <span>
                    Zict字字字字典,单词学习助手
                </span>

            </h1>

            <p class="intro_p">
                同步展示多个网站翻译结果
            </p>

            <p class="intro_p">
                支持点赞
            </p>

            <p class="intro_p">
                手机聊天更方便
            </p>

            <p class="intro_p">
                扫描二维码下载
            </p>

            <img class="erweima" src="/static/images/app_download.png">

        </div>

        <div class="img_show" style="right: 60px;">

            <ul class="ul-image" style="position: relative; width: 500px; left: ;">

                <li style="width: 120px;">
                    <img class="app_img" src="/static/images/app0.png">
                </li>

                <li style="width: 120px;">
                    <img class="app_img" src="/static/images/app1.png">
                </li>

                <li style="width: 120px;">
                    <img class="app_img" src="/static/images/app2.png">

                </li>
                <li style="width: 120px;">
                    <img class="show img" src="/static/images/app3.png">
                </li>

            </ul>

        </div>

    </div>

{% endblock %}