{% extends "base.html" %}

{% block mainbody %}

    <div class="show">

        <div class="intro" style="">

            <h1 class="intro_h" style="background-image: none;
                                       font-size: 26px;
                                       font-weight: normal;
                                       position: static;">

                <span>
                    Zict字字字字典,单词学习助手
                </span>

            </h1>

            <p class="intro_p">
                同步展示多个网站翻译结果
            </p>

            <p class="intro_p">
                点赞结果帮助选择
            </p>

            <p class="intro_p">
                支持在线聊天、单词卡发送
            </p>

            <a style="margin-top: 15px;" href="" class="pc_download">
                立即下载
            </a>

        </div>

        <div class="img_intro" style="right: 60px;">

            <img class="img_show" src="/static/images/pc_home.png">

        </div>

    </div>

{% endblock %}